@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --mid-gray-blue: hsl(227, 10%, 46%);

  --dark-gray: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: var(--dark-cyan);
}

.card {
  width: 320px;
  height: 360px;
  background: white;
  border-radius: 1em;
  overflow: hidden;
}

.background {
  height: 35%;
  background-image: url("./images/bg-pattern-card.svg");
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(-3em);
}

img {
  border-radius: 50%;
  border: 5px solid white;
}

h3 {
  color: var(--dark-blue);
  margin-top: 0.8em;
  margin-bottom: 0.3em;
}

span {
  color: var(--mid-gray-blue);
  font-weight: 400;
  margin-left: 0.5em;
}

.location {
  font-size: 0.9em;
}

.stats {
  font-size: 0.85em;
  width: 100%;
  border-top: 2px solid rgb(241, 241, 241);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em;
  margin-top: 1.5em;
}

.stats h3 {
  line-height: 0.5em;
}
.stat-name {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}
/*

- Mobile: 375px
- Desktop: 1440px


- Font size (name and stats): 18px
- Weights: 400, 700

*/
